<div class="row mb-3 bg-dark rounded">
	<div class="col-2  py-3">
		<div class="row">
			<img [src]="action.image" [alt]="action.username" class=" mt-4 img-fluid rounded-circle">
			<h5 class="text-center mt-3">{{action.username}}</h5>
			<p class="text-center mt-3">{{action.name}}</p>
		</div>
	</div>
	<div class="col-2 d-flex align-items-center justify-content-center">
		<p class="text-center" [innerText]="(action.action ==='vote')?'Votó':'Leyó'"></p>
	</div>
	<div class="col-8 bg-dark rounded p-3">
		<div class="row">
			<img [src]="action.front_page" [alt]="action.username" class="img-fluid rounded col-4">
			<div class="col-8">
				<h2>{{action.tittle}}</h2>
				<p>{{action.date | date}}</p>
			</div>
		</div>
	</div>
</div>