<div class="row">
	<aside class="col-12 col-lg-4 p-3">
		<article class="row py-5 px-3 mb-3 shadow">
			<img class="col-5 img-fluid rounded-circle shadow" src="https://randomuser.me/api/portraits/men/79.jpg"
				alt="">
			<div class="col-7">
				<h1 class="h2 pb-5">username</h1>
				<h3 class="h2">email</h3>
			</div>
			<button class="mt-5 btn btn-warning">Editar usuario</button>
		</article>
		<article class="row py-5 px-3 mb-3 shadow">
			<h3 class="text-center">Tus clubs de lectura</h3>
		</article>
		<article class="row py-5 px-3 mb-3 shadow">
			<h3 class="text-center">Tus suscripciones</h3>
		</article>
	</aside>
	<section class="col-12 col-lg-8 px-4">
		<h2 class="text-center my-3">Historial de usuario</h2>
		<article class="row py-5 px-3 mb-3 shadow">
			<app-historial></app-historial>
		</article>
	</section>
</div>