<div class="container">
	<div class="row">
		<aside class="col-12 col-md-12 col-lg-4 p-3">
			<article class="row py-5 px-3 mb-3 shadow rounded">
				<div class="col-12 col-md-8 col-lg-5 ">
					<img class="img-fluid rounded-circle shadow" [src]="user?.image" [alt]="user?.username">
				</div>
				<div class="col-12 col-md-4 col-lg-7">
					<h1 class="h3 mt-md-5 mt-lg-0 pb-5 text-center text-md-start">{{user?.username}}</h1>
					<p class="text-center text-md-start">{{user?.email}}</p>
				</div>
				<button class="mt-5 btn btn-warning" [routerLink]="['/editar_usuario']">Editar usuario</button>
			</article>
			<h3 *ngIf="bookClubAdmin?.length === 0" class="text-center py-3 px-3 mb-3">¿No tienes club de lectura? Crea
				uno</h3>
			<button *ngIf="bookClubAdmin?.length === 0" class="mb-5 btn btn-warning w-100"
				[routerLink]="['/crear_club']">Crear club
				de lectura</button>
			<h3 *ngIf="bookClubAdmin?.length !== 0" class="text-center py-3 px-3 mb-3">Tu club de lectura</h3>
			<article *ngFor="let bookClub of bookClubAdmin" class="row rounded pt-3 pb-5 px-2 mb-3 shadow club">
				<div type="button" [routerLink]="['/club_lectura/' + bookClub.id]">
					<h5 class="mt-2 text-center">{{bookClub?.name}}</h5>
					<img class="img-fluid" [src]="bookClub?.image" [alt]="bookClub?.name">
				</div>
			</article>
			<h3 *ngIf="bookClubAdmin?.length !== 0" class="text-center py-3 px-3 mb-3">Tus suscripciones</h3>
			<article *ngFor="let sub of subscriptions" class="row rounded pt-3 pb-5 px-2 mb-3 shadow club">
				<div type="button" [routerLink]="['/club_lectura/' + sub?.book_club_id]">
					<h5 class="mt-2 text-center">{{sub?.name}}</h5>
					<img class="img-fluid" [src]="sub?.image" [alt]="sub?.name">
				</div>
			</article>
		</aside>
		<section class="col-12 col-md-12 col-lg-8 px-4">
			<h2 class="text-center my-3">Historial de usuario</h2>
			<article class="row py-5 mb-3 historial">
				<app-historial [historial]="historial"></app-historial>
			</article>
			<button class="my-5 w-100 btn btn-danger" (click)="cerrarSesion()">Cerrar sesión</button>
		</section>
	</div>
</div>