<h1 class="text-center py-3">Clubs de lectura</h1>
<div class="container pb-3">
	<section *ngFor="let genre of arrBookClub" class="w-100">
		<div *ngIf="genre.book_club.length > 0" class="p-3  mb-3">
			<hr>
			<h2>{{genre.genre}}</h2>
			<div class="wrapper row">
				<article *ngFor="let book_club of genre.book_club" class="col-6 col-md-4">
					<div class="row p-3">
						<figure class="col px-3 rounded" type="button" [routerLink]="['/club_lectura/' + book_club.id]">
							<figcaption class="text-center h5">{{book_club.name}}</figcaption>
							<img [src]="book_club?.image" [alt]="book_club?.name" class="rounded img-fluid">
						</figure>
					</div>
				</article>
			</div>
		</div>
	</section>
</div>