/* You can add global styles to this file, and also import other style files */
img{
	display: block;
	width: 100%;
	height: auto
}
.in{
	padding-top: 30vh;
}
.card{
	background-color: #181818 !important;
}